h1{
  text-align: center;
  color: blue;
}
.main{
 background-color:#fffdd0;
 padding-bottom: 3rem;
}

.Label{
  color:black;
  margin-left: 10px;
}
.form-group {
  margin-bottom: 20px;
}
.form-control{
  margin-left: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width:96%;
  padding: 1s0px;
  border: 1px solid #ccc;
  border-radius: 9px;
}

.error {
  color: red;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #ff3e3e;
}
.row1{
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.2rem;
}
.first{
  margin: auto;
padding-left: 22%;
}
.para{
  font-size: 45px;
  color: blue;
  font-weight: bold;
  margin-bottom: 0rem;
}
.second{
  width: 600px;
  padding-left: 80px;
  padding-top: 70px;
}
.card{
border-radius: 15px;
background-color: rgb(219, 228, 232);
}
h3{
  color: blue;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hed{
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

.copy{
  color: gray;
  font-size: 20px;
  font-weight: 600;
}
.nav-link
{
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.foocontent{
  color: black;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1080px) {
  .row1 {
    grid-template-columns: 100%; /* Stack columns on top of each other for screens <= 768px wide */
  }
  .second{
    width:100%;
    padding-left: 0px;
  }
  .card{
    margin-top: 1rem;
  }
  .first{
    margin: auto;
  padding-left:0px;
  }
  p{
    font-size: 30px;
  }
  .para{
    font-size: 25px;
    color: blue;
    font-weight: bold;
  }
}
